.main_header{
width: 100vw;
height: calc(100vh-6rem);
display: grid;
place-items: center;
margin-top: 6rem;
}
.main_header_container{
height: 100%;

display: grid;
grid-template-columns: 1fr 1fr;
align-items: center;  
justify-content: space-between;
gap:6rem
}
.main-header-left{
    margin-top: -3rem;
}
.main-header-left h4{
    margin-bottom: 1rem;
    color: #ff6700;
    font-weight: 400;
}
.main-header-left p{
    margin: 1rem 0 3.5rem;
}
.main_header_circle {
    width: 30rem;
    height: 30rem;
    background: linear-gradient(75deg, #ff6700, transparent);
    position: absolute;
    top: 10rem;
    right:10rem;
    border-radius: 15rem;
    filter: blur(15px);
}

.main_header_image{
    position: relative;
    width: 35rem;
}
.programs{
    margin-top: 4rem;
}
.program-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:3rem;
    margin-top: 4rem;
}
.programs-program a{
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
}
.programs-program a:hover{
    background-color: #231942;
}
.values_container{
    display: grid;
    grid-template-columns: 38% 50%;
    gap: 12%;
}
.values_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.4rem 2.4rem;

}
.values_right > p{
    margin: 1.5rem 0 5rem;
}
.card.Values_values {
    padding-top: 3.5rem;
    text-align: left;
    position:relative

}
.card.Values_values span{
    position: absolute;
    top: -1.5rem;
}
.values_left{
    display: flex;
    align-items: center;
}
/*
fqa
*/
.faqs_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 4rem;
    gap:1.5rem 5rem;
    align-items: flex-start;
    
}
.faq{
    background-color: #56575c;
    padding:2rem;
    cursor: pointer;
    color: white;
    border-radius: 1rem;
    transition: 50ms;
}

.faq div{
    display:flex;
    justify-content: space-between;
}
.faq button{
    background-color: #56575c;
    color: aliceblue;
    font-size: 1.2rem;
    cursor: pointer;
}
.faq p{
    padding-top: 1.2rem;
}
.faq h3{
    color: #ff6700;
}